@import "./variables";

* {
  scroll-behavior: smooth;
  color: beige;
}

html {
  background: linear-gradient(180deg, rgb(30, 29, 29), rgb(11, 9, 14));
  background-repeat: no-repeat;
  // width: fit-content;
  min-height: 100vh;
  // background-size: cover;
}

#root {
  // height: 100%;
  min-width: min-content;
}

nav {
  display: flex;
  justify-content: space-evenly;
  a {
    color: $primary_color;
    text-decoration: none;
    transition: .2s ease-in-out;
    width: 100px;
    display: flex;
    justify-content: center;
    &:hover:not(.active) {
      // letter-spacing: 2px;
      text-decoration: underline 3px orangered;
      text-underline-offset: .5em;
    }
    &.active {
      color: #5d5656;
      letter-spacing: 2px;
      pointer-events: none;
    }
  }
  padding: 1em 0;
}

.breadcrumb {
  display: flex;
  padding: 0;

  & li {
    list-style: none;
    text-transform: capitalize;
    margin: 0 2px;
    a {
      text-decoration: none;
      transition: .2s ease-in-out;
    }
    a:hover {
      color: tomato;
    }
    &:not(a) {
      // Change breadcrumb logic to NavLink
      color: grey;
      // pointer-events: none; 
    }
    &:not(:first-child):before {content: "/ "}
    }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  

  // background: linear-gradient(180deg, rgb(30, 29, 29), rgb(11, 9, 14));
  // background-repeat: no-repeat;
  // background-size: cover;

  ::selection {
    background-color: $primary_color;
    color: white;
  }
  > div:not(.project) {
    min-height: 89.2vh;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
  }
  img, .headerImage {
    border-radius: 1em;
    max-width: 100%;
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
}

.para {
  display: flex;
  flex-wrap: wrap;
}

section {
  width: min(1200px, 100% - 2rem);
  &.small {
    width: min(639px, 100% - 2rem);
  }
}
.centerText {
  display: flex;
  justify-content: center;
}

.pointer {
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  flex: 0 1 auto;
  width: 100%;
  min-height: 5vh;
}

footer ul {
  width: min(1200px, 100% - 2rem);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  li {
    color: rgb(113, 113, 113);
    display: flex;
    // &:last-child {
    //   margin-right: 2em;
    // }
  }
}

.projects {
  display: flex;
  align-items: center;
  > div {
    display: flex;
    justify-content: center;
    
    a {text-decoration: none;}
    
  }

  .projectcontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    // width: min(98vh, 100% - 2em);
    justify-content: space-evenly;

  }
  .projectCard {
    display: flex;
    flex-direction: column;
    transition: .2s ease-in-out;
    width: min(550px, 100% - 2em);
    margin-top: 1em;
    
    &:hover {
      transform: scale(102%);
    }
    
    & img {
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      max-width: 100%;
      border-radius: 1em; 
    }

    & a {
      text-decoration: none;
    }
    
    .projectInfo {
      h3, h4 {
        color: beige;
      }
    }
  }
  transition: .2s ease-in-out;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  > h3, h4 {
    margin: 0 0 0 0;
  }
}
.center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 530px) {
  
  // .row > h4:first-of-type {
  //   width: fill;
  //   display: flex;
  //   justify-content: flex-end;
  // }

  
  // .projects .projectCard img {
  //   max-width: 400px;
  // }
  // .projects .projectCard .projectInfo {
  //   flex-direction: column;
  //   h4 {
  //     display: none;
  //   }
  // }
}